# Heap Sort
***

## Lists in Python
***

In [1]:
# Lists in Python can be created with square bracket notation.
L = [1, 2, 3, "Hello World!", None, True]

In [2]:
L[5]

True

In [3]:
# Create lists with the list() function.
list({1, 2, 3, 3})

[1, 2, 3]

In [4]:
# Using negative indexes.
L[-1]

True

In [5]:
# Third last element
L[-3]

'Hello World!'

In [6]:
# In-built functions for creating iterables.
list(range(0, 20, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [7]:
# In-built functions for creating iterables.
L = list(range(20))
L

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [8]:
# List slicing
L[1:10:2]

[1, 3, 5, 7, 9]

In [9]:
# List slicing
L[5:10]

[5, 6, 7, 8, 9]

In [10]:
# List slicing
L[:5]  # less than 5

[0, 1, 2, 3, 4]

In [11]:
# List slicing
L[5:]  # 5 and greater

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [12]:
# Quick way to cycle the list to the left.
i = 5
L[i:] + L[:i]

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 0, 1, 2, 3, 4]

In [13]:
# Tuples -- immutable.
T = (1, 2, 3, 4)

In [14]:
# Select elements.
T[0]

1

In [15]:
# Slice
T[3:]

(4,)

In [16]:
# Can't assign - would give an error.
# T[2] = 100

In [17]:
#Tuples are created with commas, as opposed to round brackets.
T = 1, 2, 3, 4
T

(1, 2, 3, 4)

In [18]:
hash(T)

590899387183067792

In [19]:
# You can use truples for assignment.
a, b = 3, 4

In [20]:
a

3

In [21]:
b

4

In [22]:
# Nice trick for swapping two values.
a, b = b, a

In [23]:
a

4

In [24]:
b

3

In [25]:
# List of integers.
L = list(range(10))
L

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
# List comprehension.
[i**3 for i in L]

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [27]:
# Curve ball.
L[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

<br>

## Bubble Sort
***

In [28]:
# Import a module from the standard library
import random

In [29]:
# Create a list of integers.
L = list(range(1, 11))
L

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [30]:
# Shuffle the list.
random.shuffle(L)

In [31]:
# The list is shuffled.
L

[9, 10, 6, 7, 2, 1, 4, 3, 5, 8]

In [32]:
# Bubble sort.

# Keep track of number of comparisons
no_comparisons = 0

# Bubble every(biggesr) element up.
for j in range(len(L) - 1):
    # Keep track of any swaps.
    swapped = False
    # Compare all elements that are side by side.
    for i in range(len(L) - 1):
        # Compare the ith element with the (i+1)th.
        if L[i] > L[i+1]:
            # Swap the elements.
            L[i], L[i+1] = L[i+1], L[i]
            # Keep track of the swap
            swapped = True
        # Add a comparison.
        no_comparisons = no_comparisons + 1
    # Quit if we didn't make any swaps.
    if not swapped:
        break

In [33]:
L

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [34]:
no_comparisons

54

In [35]:
# Bubble sort as a function.

def bubble_sort(L):
    # Keep track of number of comparisons
    no_comparisons = 0

    # Bubble every(biggesr) element up.
    for j in range(len(L) - 1):
        # Keep track of any swaps.
        swapped = False
        # Compare all elements that are side by side.
        for i in range(len(L) - 1 - j):
            # Compare the ith element with the (i+1)th.
            if L[i] > L[i+1]:
                # Swap the elements.
                L[i], L[i+1] = L[i+1], L[i]
                # Keep track of the swap
                swapped = True
            # Add a comparison.
            no_comparisons = no_comparisons + 1
        # Quit if we didn't make any swaps.
        if not swapped:
            break
            
    #Return the number of comparisons made 
    return no_comparisons

In [36]:
# Create a list 
L = list(range(1, 11))

# Shuffle it.
random.shuffle(L)

# Look at
L

[5, 6, 4, 3, 7, 10, 1, 8, 9, 2]

In [37]:
# The function works on L in place
bubble_sort(L)

45

In [38]:
L

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [39]:
# Once the list is sorted - bubble sort is O(n).
bubble_sort(L)

9

In [40]:
# The worst case for bubble sort 
L[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [41]:
# This is still O(n^2)
bubble_sort(L[::-1])

45

<br>

## Heap Sort

***

### Transplanted from Wikipedia
https://en.m.wikipedia.org/wiki/Heapsort

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Max-Heap-new.svg/854px-Max-Heap-new.svg.png" 
     width="400px"></img>

In [54]:
def siftDown(L, parent, end):   
    """L[:end+1] should almost be a max heap.
        siftDown repairs it so that it is one."""
    
     # Keep track of the number of comparisons
    no_comparisons = 0
    
    # While parent is actually a parent (has at least a left child).
    while 2*parent+1 <= end:
        # The indices of the children of parent.
        lchild = 2 * parent + 1
        rchild = 2 * parent + 2
        
        # Assume the parent is larger than the children
        swap = parent
        
        # Is the parent smaller than the left child?        
        if L[swap] < L[lchild]:
            # Then swap is set to index of left child
            swap = lchild
            # Increment no_comparisons
            no_comparisons = no_comparisons + 1
        # Check if right child exists and is smaller than L[swap].
        if rchild <= end and L[swap] < L[rchild]:
            # Then swap is set to index of right child
            swap = rchild 
            # Increment no_comparisons
            no_comparisons = no_comparisons + 1
        # We have a max heap if the parent is bigger than the children
        if swap == parent:
            break
        else:
            # Swap the parent with the bigger child
            L[parent], L[swap] = L[swap], L[parent]
            # Set the parent with the bigger child
            parent = swap
    # Return the number of comparisons
    return no_comparisons

In [55]:
def heapsort(L):
    """Sorts the list L in-place using Heap Sort"""  
    
    # Keep track of the number of comparisons
    no_comparisons = 0
    
    # Turn L into max heap
    # Index of the last element
    last_element = len(L) - 1
    
    # Find the last parent
    last_parent = (last_element - 1) // 2
    # Loop backwards through all parents
    for parent in range(last_parent, -1, -1):
        # Sift down
        no_comparisons = no_comparisons + siftDown(L, parent, last_element)
    
    # Segregate the list L into two parts:
    #   1. L[:end] is the max heap
    #   2. Each Element beyond end is greater than everything before it.
    # While there are still elements in the heap
    for end in range(last_element, 0, -1):
        # Swap the element at index 0 with the element at index end
        L[0], L[end] = L[end], L[0]
        # Fix the heap - root is currently out of place
        no_comparisons = no_comparisons + siftDown(L, 0, end - 1)
        
    # Return the number of comparisons
    return no_comparisons

In [56]:
# The example list from the diagram above.
L = [19, 100, 36, 25, 3, 17, 7, 1, 2]
L

[19, 100, 36, 25, 3, 17, 7, 1, 2]

In [62]:
# Show heap sort work
heapsort(L)
L

[1, 2, 3, 7, 17, 19, 25, 36, 100]

<br>

## Comparing Algorithms
***

In [73]:
# Perform heap sort, show number of comparisons.
L = [19, 100, 36, 25, 3, 17, 7, 1, 2]
no_comparisons = heapsort(L)
L, no_comparisons

([1, 2, 3, 7, 17, 19, 25, 36, 100], 12)

In [74]:
# Perform bubble sort, show number of comparisons
L = [19, 100, 36, 25, 3, 17, 7, 1, 2]
no_comparisons = bubble_sort(L)
L, no_comparisons

([1, 2, 3, 7, 17, 19, 25, 36, 100], 36)

In [75]:
# A module full of combinatorial functions
import itertools

# Loop through all permutations of the list of integers from 0 to n
for perm in itertools.permutations(range(5)):
    L = list(perm)
    bubb_comp = bubble_sort(L)
    L = list(perm)
    heap_comp = heapsort(L)
    print(f'{str(perm)[1:-1]}|{bubb_comp}|{heap_comp}')

0, 1, 2, 3, 4|4|8
0, 1, 2, 4, 3|7|9
0, 1, 3, 2, 4|7|7
0, 1, 3, 4, 2|9|8
0, 1, 4, 2, 3|7|8
0, 1, 4, 3, 2|9|6
0, 2, 1, 3, 4|7|6
0, 2, 1, 4, 3|7|7
0, 2, 3, 1, 4|9|8
0, 2, 3, 4, 1|10|6
0, 2, 4, 1, 3|9|6
0, 2, 4, 3, 1|10|7
0, 3, 1, 2, 4|7|7
0, 3, 1, 4, 2|9|5
0, 3, 2, 1, 4|9|9
0, 3, 2, 4, 1|10|7
0, 3, 4, 1, 2|9|5
0, 3, 4, 2, 1|10|6
0, 4, 1, 2, 3|7|6
0, 4, 1, 3, 2|9|4
0, 4, 2, 1, 3|9|8
0, 4, 2, 3, 1|10|6
0, 4, 3, 1, 2|9|7
0, 4, 3, 2, 1|10|5
1, 0, 2, 3, 4|7|9
1, 0, 2, 4, 3|7|7
1, 0, 3, 2, 4|7|8
1, 0, 3, 4, 2|9|6
1, 0, 4, 2, 3|7|7
1, 0, 4, 3, 2|9|5
1, 2, 0, 3, 4|9|7
1, 2, 0, 4, 3|9|8
1, 2, 3, 0, 4|10|6
1, 2, 3, 4, 0|10|7
1, 2, 4, 0, 3|10|5
1, 2, 4, 3, 0|10|6
1, 3, 0, 2, 4|9|8
1, 3, 0, 4, 2|9|6
1, 3, 2, 0, 4|10|7
1, 3, 2, 4, 0|10|8
1, 3, 4, 0, 2|10|4
1, 3, 4, 2, 0|10|5
1, 4, 0, 2, 3|9|7
1, 4, 0, 3, 2|9|5
1, 4, 2, 0, 3|10|6
1, 4, 2, 3, 0|10|7
1, 4, 3, 0, 2|10|5
1, 4, 3, 2, 0|10|6
2, 0, 1, 3, 4|7|7
2, 0, 1, 4, 3|7|5
2, 0, 3, 1, 4|9|7
2, 0, 3, 4, 1|10|5
2, 0, 4, 1, 3|9|9
2, 0, 4, 3, 1|10|7
2, 1, 0, 3, 4|9|8
2, 1, 0, 4, 3|9|6
2, 1, 3, 0, 4|10|5
2, 1, 3, 4, 0|10|6
2, 1, 4, 0, 3|10|7
2, 1, 4, 3, 0|10|8
2, 3, 0, 1, 4|9|6
2, 3, 0, 4, 1|10|7
2, 3, 1, 0, 4|10|5
2, 3, 1, 4, 0|10|6
2, 3, 4, 0, 1|10|6
2, 3, 4, 1, 0|10|7
2, 4, 0, 1, 3|9|5
2, 4, 0, 3, 1|10|6
2, 4, 1, 0, 3|10|4
2, 4, 1, 3, 0|10|5
2, 4, 3, 0, 1|10|4
2, 4, 3, 1, 0|10|5
3, 0, 1, 2, 4|7|6
3, 0, 1, 4, 2|9|4
3, 0, 2, 1, 4|9|8
3, 0, 2, 4, 1|10|6
3, 0, 4, 1, 2|9|7
3, 0, 4, 2, 1|10|5
3, 1, 0, 2, 4|9|7
3, 1, 0, 4, 2|9|5
3, 1, 2, 0, 4|10|6
3, 1, 2, 4, 0|10|7
3, 1, 4, 0, 2|10|5
3, 1, 4, 2, 0|10|6
3, 2, 0, 1, 4|9|5
3, 2, 0, 4, 1|10|6
3, 2, 1, 0, 4|10|4
3, 2, 1, 4, 0|10|5
3, 2, 4, 0, 1|10|4
3, 2, 4, 1, 0|10|5
3, 4, 0, 1, 2|9|4
3, 4, 0, 2, 1|10|5
3, 4, 1, 0, 2|10|3
3, 4, 1, 2, 0|10|4
3, 4, 2, 0, 1|10|5
3, 4, 2, 1, 0|10|6
4, 0, 1, 2, 3|7|5
4, 0, 1, 3, 2|9|3
4, 0, 2, 1, 3|9|7
4, 0, 2, 3, 1|10|5
4, 0, 3, 1, 2|9|6
4, 0, 3, 2, 1|10|4
4, 1, 0, 2, 3|9|6
4, 1, 0, 3, 2|9|4
4, 1, 2, 0, 3|10|5
4, 1, 2, 3, 0|10|6
4, 1, 3, 0, 2|10|4
4, 1, 3, 2, 0|10|5
4, 2, 0, 1, 3|9|4
4, 2, 0, 3, 1|10|5
4, 2, 1, 0, 3|10|3
4, 2, 1, 3, 0|10|4
4, 2, 3, 0, 1|10|3
4, 2, 3, 1, 0|10|4
4, 3, 0, 1, 2|9|3
4, 3, 0, 2, 1|10|4
4, 3, 1, 0, 2|10|2
4, 3, 1, 2, 0|10|3
4, 3, 2, 0, 1|10|4
4, 3, 2, 1, 0|10|5

In [76]:
# Like Excel for Python
import pandas as pd

In [95]:
# Length of example list
n = 9

results = [[str(perm)[1:-1], bubble_sort(list(perm)), heapsort(list(perm))] for perm in itertools.permutations(range(n))]

In [96]:
# Peak at the results
# results

In [97]:
df = pd.DataFrame(results, columns=['list', 'buble', 'heap'])

In [98]:
df.head()

                        list  buble  heap
0  0, 1, 2, 3, 4, 5, 6, 7, 8      8    25
1  0, 1, 2, 3, 4, 5, 6, 8, 7     15    23
2  0, 1, 2, 3, 4, 5, 7, 6, 8     15    24
3  0, 1, 2, 3, 4, 5, 7, 8, 6     21    24
4  0, 1, 2, 3, 4, 5, 8, 6, 7     15    22

In [99]:
df.describe()

               buble           heap
count  362880.000000  362880.000000
mean       33.506842      18.522917
std         3.077026       2.399822
min         8.000000       9.000000
25%        33.000000      17.000000
50%        35.000000      19.000000
75%        36.000000      20.000000
max        36.000000      27.000000

<br>

## *Extra

In [ ]:
#int's are passed by value

# Variable a set to 1.
a = 1

# Function: b is a value
def change(b):
    # Change value of b.
    b = 2

# a is passed by value.
change(a)

# a has not changed.
print(a)

In [ ]:
# lists are passed by reference.


# Function: a is a reference.
def change(b):
    # Change an element.
    b[2] = 100
    
    
# List.
a = [1, 2, 3, 4]


# Pass a to change.
change(a)

# a has not changed.
print(a)