# Heap Sort
***

## Lists in Python
***

In [1]:
# Lists in Python can be created with square bracket notation.
L = [1, 2, 3, "Hello World!", None, True]

In [2]:
L[5]

True

In [3]:
# Create lists with the list() function.
list({1, 2, 3, 3})

[1, 2, 3]

In [4]:
# Using negative indexes.
L[-1]

True

In [5]:
# Third last element
L[-3]

'Hello World!'

In [6]:
# In-built functions for creating iterables.
list(range(0, 20, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [7]:
# In-built functions for creating iterables.
L = list(range(20))
L

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [8]:
# List slicing
L[1:10:2]

[1, 3, 5, 7, 9]

In [9]:
# List slicing
L[5:10]

[5, 6, 7, 8, 9]

In [10]:
# List slicing
L[:5]  # less than 5

[0, 1, 2, 3, 4]

In [11]:
# List slicing
L[5:]  # 5 and greater

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [12]:
# Quick way to cycle the list to the left.
i = 5
L[i:] + L[:i]

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 0, 1, 2, 3, 4]

In [13]:
# Tuples -- immutable.
T = (1, 2, 3, 4)

In [14]:
# Select elements.
T[0]

1

In [15]:
# Slice
T[3:]

(4,)

In [16]:
# Can't assign - would give an error.
# T[2] = 100

In [17]:
#Tuples are created with commas, as opposed to round brackets.
T = 1, 2, 3, 4
T

(1, 2, 3, 4)

In [18]:
hash(T)

590899387183067792

In [19]:
# You can use truples for assignment.
a, b = 3, 4

In [20]:
a

3

In [21]:
b

4

In [22]:
# Nice trick for swapping two values.
a, b = b, a

In [23]:
a

4

In [24]:
b

3

In [25]:
# List of integers.
L = list(range(10))
L

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
# List comprehension.
[i**3 for i in L]

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [27]:
# Curve ball.
L[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

<br>

## Bubble Sort
***

In [28]:
# Import a module from the standard library
import random

In [29]:
# Create a list of integers.
L = list(range(1, 11))
L

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [30]:
# Shuffle the list.
random.shuffle(L)

In [31]:
# The list is shuffled.
L

[2, 7, 4, 1, 6, 3, 8, 9, 10, 5]

In [32]:
# Bubble sort.

# Keep track of number of comparisons
no_comparisons = 0

# Bubble every(biggesr) element up.
for j in range(len(L) - 1):
    # Keep track of any swaps.
    swapped = False
    # Compare all elements that are side by side.
    for i in range(len(L) - 1):
        # Compare the ith element with the (i+1)th.
        if L[i] > L[i+1]:
            # Swap the elements.
            L[i], L[i+1] = L[i+1], L[i]
            # Keep track of the swap
            swapped = True
        # Add a comparison.
        no_comparisons = no_comparisons + 1
    # Quit if we didn't make any swaps.
    if not swapped:
        break

In [33]:
L

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [34]:
no_comparisons

54

In [35]:
# Bubble sort as a function.

def bubble_sort(L):
    # Keep track of number of comparisons
    no_comparisons = 0

    # Bubble every(biggesr) element up.
    for j in range(len(L) - 1):
        # Keep track of any swaps.
        swapped = False
        # Compare all elements that are side by side.
        for i in range(len(L) - 1 - j):
            # Compare the ith element with the (i+1)th.
            if L[i] > L[i+1]:
                # Swap the elements.
                L[i], L[i+1] = L[i+1], L[i]
                # Keep track of the swap
                swapped = True
            # Add a comparison.
            no_comparisons = no_comparisons + 1
        # Quit if we didn't make any swaps.
        if not swapped:
            break
            
    #Return the number of comparisons made 
    return no_comparisons

In [36]:
# Create a list 
L = list(range(1, 11))

# Shuffle it.
random.shuffle(L)

# Look at
L

[3, 6, 8, 7, 5, 9, 1, 10, 2, 4]

In [37]:
# The function works on L in place
bubble_sort(L)

44

In [38]:
L

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [39]:
# Once the list is sorted - bubble sort is O(n).
bubble_sort(L)

9

In [40]:
# The worst case for bubble sort 
L[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [41]:
# This is still O(n^2)
bubble_sort(L[::-1])

45

<br>

## Heap Sort

***

### Transplanted from Wikipedia
https://en.m.wikipedia.org/wiki/Heapsort

In [42]:
def heapify(a, count):
    start = (count - 2) // 2  
    
    while start >= 0:
        siftDown(a, start, count - 1)
        start = start - 1

In [43]:
def siftDown(a, start, end):
    root = start
    
    while (2 * root + 1) <= end:
        child = (2 * root + 1)
        swap = root
        
        if a[swap] < a[child]:
            swap = child
        if child + 1 <= end and a[swap] < a[child + 1]:
            swap = child + 1
        if swap == root:
            return
        else:
            a[root], a[swap] = a[swap], a[root]
            root = swap

In [44]:
def heapsort(a):
    count = len(a)    
    heapify(a, count)
    end = count -1
    
    while end > 0:
        a[0], a[end] = a[end], a[0]
        end = end - 1
        siftDown(a, 0, end)

In [45]:
L = [2, 1, 7, 4, 8, 10]
L

[2, 1, 7, 4, 8, 10]

In [46]:
heapsort(L)
L

[1, 2, 4, 7, 8, 10]

In [47]:
import itertools

for perm in itertools.permutations(range(5)):
    L = list(perm)
    heapsort(L)
    print(f'{perm} -> {L}')

(0, 1, 2, 3, 4) -> [0, 1, 2, 3, 4]
(0, 1, 2, 4, 3) -> [0, 1, 2, 3, 4]
(0, 1, 3, 2, 4) -> [0, 1, 2, 3, 4]
(0, 1, 3, 4, 2) -> [0, 1, 2, 3, 4]
(0, 1, 4, 2, 3) -> [0, 1, 2, 3, 4]
(0, 1, 4, 3, 2) -> [0, 1, 2, 3, 4]
(0, 2, 1, 3, 4) -> [0, 1, 2, 3, 4]
(0, 2, 1, 4, 3) -> [0, 1, 2, 3, 4]
(0, 2, 3, 1, 4) -> [0, 1, 2, 3, 4]
(0, 2, 3, 4, 1) -> [0, 1, 2, 3, 4]
(0, 2, 4, 1, 3) -> [0, 1, 2, 3, 4]
(0, 2, 4, 3, 1) -> [0, 1, 2, 3, 4]
(0, 3, 1, 2, 4) -> [0, 1, 2, 3, 4]
(0, 3, 1, 4, 2) -> [0, 1, 2, 3, 4]
(0, 3, 2, 1, 4) -> [0, 1, 2, 3, 4]
(0, 3, 2, 4, 1) -> [0, 1, 2, 3, 4]
(0, 3, 4, 1, 2) -> [0, 1, 2, 3, 4]
(0, 3, 4, 2, 1) -> [0, 1, 2, 3, 4]
(0, 4, 1, 2, 3) -> [0, 1, 2, 3, 4]
(0, 4, 1, 3, 2) -> [0, 1, 2, 3, 4]
(0, 4, 2, 1, 3) -> [0, 1, 2, 3, 4]
(0, 4, 2, 3, 1) -> [0, 1, 2, 3, 4]
(0, 4, 3, 1, 2) -> [0, 1, 2, 3, 4]
(0, 4, 3, 2, 1) -> [0, 1, 2, 3, 4]
(1, 0, 2, 3, 4) -> [0, 1, 2, 3, 4]
(1, 0, 2, 4, 3) -> [0, 1, 2, 3, 4]
(1, 0, 3, 2, 4) -> [0, 1, 2, 3, 4]
(1, 0, 3, 4, 2) -> [0, 1, 2, 3, 4]
(1, 0, 4, 2, 3) -> [0, 1, 2, 3, 4]
(1, 0, 4, 3, 2) -> [0, 1, 2, 3, 4]
(1, 2, 0, 3, 4) -> [0, 1, 2, 3, 4]
(1, 2, 0, 4, 3) -> [0, 1, 2, 3, 4]
(1, 2, 3, 0, 4) -> [0, 1, 2, 3, 4]
(1, 2, 3, 4, 0) -> [0, 1, 2, 3, 4]
(1, 2, 4, 0, 3) -> [0, 1, 2, 3, 4]
(1, 2, 4, 3, 0) -> [0, 1, 2, 3, 4]
(1, 3, 0, 2, 4) -> [0, 1, 2, 3, 4]
(1, 3, 0, 4, 2) -> [0, 1, 2, 3, 4]
(1, 3, 2, 0, 4) -> [0, 1, 2, 3, 4]
(1, 3, 2, 4, 0) -> [0, 1, 2, 3, 4]
(1, 3, 4, 0, 2) -> [0, 1, 2, 3, 4]
(1, 3, 4, 2, 0) -> [0, 1, 2, 3, 4]
(1, 4, 0, 2, 3) -> [0, 1, 2, 3, 4]
(1, 4, 0, 3, 2) -> [0, 1, 2, 3, 4]
(1, 4, 2, 0, 3) -> [0, 1, 2, 3, 4]
(1, 4, 2, 3, 0) -> [0, 1, 2, 3, 4]
(1, 4, 3, 0, 2) -> [0, 1, 2, 3, 4]
(1, 4, 3, 2, 0) -> [0, 1, 2, 3, 4]
(2, 0, 1, 3, 4) -> [0, 1, 2, 3, 4]
(2, 0, 1, 4, 3) -> [0, 1, 2, 3, 4]
(2, 0, 3, 1, 4) -> [0, 1, 2, 3, 4]
(2, 0, 3, 4, 1) -> [0, 1, 2, 3, 4]
(2, 0, 4, 1, 3) -> [0, 1, 2, 3, 4]
(2, 0, 4, 3, 1) -> [0, 1, 2, 3, 4]
(2, 1, 0, 3, 4) -> [0, 1, 2, 3, 4]
(2, 1, 0, 4, 3) -> [0, 1, 2, 3, 4]
(2, 1, 3, 0, 4) -> [0, 1, 2, 3, 4]
(2, 1, 3, 4, 0) -> [0, 1, 2, 3, 4]
(2, 1, 4, 0, 3) -> [0, 1, 2, 3, 4]
(2, 1, 4, 3, 0) -> [0, 1, 2, 3, 4]
(2, 3, 0, 1, 4) -> [0, 1, 2, 3, 4]
(2, 3, 0, 4, 1) -> [0, 1, 2, 3, 4]
(2, 3, 1, 0, 4) -> [0, 1, 2, 3, 4]
(2, 3, 1, 4, 0) -> [0, 1, 2, 3, 4]
(2, 3, 4, 0, 1) -> [0, 1, 2, 3, 4]
(2, 3, 4, 1, 0) -> [0, 1, 2, 3, 4]
(2, 4, 0, 1, 3) -> [0, 1, 2, 3, 4]
(2, 4, 0, 3, 1) -> [0, 1, 2, 3, 4]
(2, 4, 1, 0, 3) -> [0, 1, 2, 3, 4]
(2, 4, 1, 3, 0) -> [0, 1, 2, 3, 4]
(2, 4, 3, 0, 1) -> [0, 1, 2, 3, 4]
(2, 4, 3, 1, 0) -> [0, 1, 2, 3, 4]
(3, 0, 1, 2, 4) -> [0, 1, 2, 3, 4]
(3, 0, 1, 4, 2) -> [0, 1, 2, 3, 4]
(3, 0, 2, 1, 4) -> [0, 1, 2, 3, 4]
(3, 0, 2, 4, 1) -> [0, 1, 2, 3, 4]
(3, 0, 4, 1, 2) -> [0, 1, 2, 3, 4]
(3, 0, 4, 2, 1) -> [0, 1, 2, 3, 4]
(3, 1, 0, 2, 4) -> [0, 1, 2, 3, 4]
(3, 1, 0, 4, 2) -> [0, 1, 2, 3, 4]
(3, 1, 2, 0, 4) -> [0, 1, 2, 3, 4]
(3, 1, 2, 4, 0) -> [0, 1, 2, 3, 4]
(3, 1, 4, 0, 2) -> [0, 1, 2, 3, 4]
(3, 1, 4, 2, 0) -> [0, 1, 2, 3, 4]
(3, 2, 0, 1, 4) -> [0, 1, 2, 3, 4]
(3, 2, 0, 4, 1) -> [0, 1, 2, 3, 4]
(3, 2, 1, 0, 4) -> [0, 1, 2, 3, 4]
(3, 2, 1, 4, 0) -> [0, 1, 2, 3, 4]
(3, 2, 4, 0, 1) -> [0, 1, 2, 3, 4]
(3, 2, 4, 1, 0) -> [0, 1, 2, 3, 4]
(3, 4, 0, 1, 2) -> [0, 1, 2, 3, 4]
(3, 4, 0, 2, 1) -> [0, 1, 2, 3, 4]
(3, 4, 1, 0, 2) -> [0, 1, 2, 3, 4]
(3, 4, 1, 2, 0) -> [0, 1, 2, 3, 4]
(3, 4, 2, 0, 1) -> [0, 1, 2, 3, 4]
(3, 4, 2, 1, 0) -> [0, 1, 2, 3, 4]
(4, 0, 1, 2, 3) -> [0, 1, 2, 3, 4]
(4, 0, 1, 3, 2) -> [0, 1, 2, 3, 4]
(4, 0, 2, 1, 3) -> [0, 1, 2, 3, 4]
(4, 0, 2, 3, 1) -> [0, 1, 2, 3, 4]
(4, 0, 3, 1, 2) -> [0, 1, 2, 3, 4]
(4, 0, 3, 2, 1) -> [0, 1, 2, 3, 4]
(4, 1, 0, 2, 3) -> [0, 1, 2, 3, 4]
(4, 1, 0, 3, 2) -> [0, 1, 2, 3, 4]
(4, 1, 2, 0, 3) -> [0, 1, 2, 3, 4]
(4, 1, 2, 3, 0) -> [0, 1, 2, 3, 4]
(4, 1, 3, 0, 2) -> [0, 1, 2, 3, 4]
(4, 1, 3, 2, 0) -> [0, 1, 2, 3, 4]
(4, 2, 0, 1, 3) -> [0, 1, 2, 3, 4]
(4, 2, 0, 3, 1) -> [0, 1, 2, 3, 4]
(4, 2, 1, 0, 3) -> [0, 1, 2, 3, 4]
(4, 2, 1, 3, 0) -> [0, 1, 2, 3, 4]
(4, 2, 3, 0, 1) -> [0, 1, 2, 3, 4]
(4, 2, 3, 1, 0) -> [0, 1, 2, 3, 4]
(4, 3, 0, 1, 2) -> [0, 1, 2, 3, 4]
(4, 3, 0, 2, 1) -> [0, 1, 2, 3, 4]
(4, 3, 1, 0, 2) -> [0, 1, 2, 3, 4]
(4, 3, 1, 2, 0) -> [0, 1, 2, 3, 4]
(4, 3, 2, 0, 1) -> [0, 1, 2, 3, 4]
(4, 3, 2, 1, 0) -> [0, 1, 2, 3, 4]

<br>

## *END